@import url('./palette.css');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna&family=Sora&display=swap');

@font-face {
  font-family: "Playwrite GB S";
  src: url("../../fonts/Playwrite.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/playwriteitmoderna/v5/xyz-font-url.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--color-bg);
}

/*  ----- Cabecera  ----- */
.header-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  padding: 0.6em;
  margin: 2em;
  border-radius: 8px;
  background-color: var(--color-bg-element);
  overflow-x: auto;
  scrollbar-width: thin;
}

.icon-item:nth-last-child(3) {
  margin-left: auto;
}

.icon-item .user-account {
  display: none;
}

.icon-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.icon-item img {
  height: 30px;
  filter: var(--icon-color-light);
}

.icon-item p {
  display: none;
}

.icon-item .canary-flag-icon {
  display: none;
}

.logo {
  height: 40px;
}

.search {
  margin-left: 5%;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.search::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url('../../img/icon/search.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
}

.search input {
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
  padding-left: 2.5em;
}

.search:focus-within {
  width: 180px;
}

.search:focus-within input {
  width: 100%;
  opacity: 1;
  border: 1px solid var(--color-text);
  border-radius: 5px;
  padding: 0.5em;
  padding-left: 1em;
}

/* --- Selección de tema con paleta de colores --- */
.theme-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.theme-icon,
.contrast-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-icon:hover,
.contrast-icon:hover {
  transform: scale(1.2);
}

/* Botones */
.font-size-icon {
  font-size: 0.9rem;
  margin: 3px;
  padding: 4px 8px;
  cursor: pointer;
  background-color: var(--color-text);
  color: var(--color-bg);
  border: none;
  border-radius: 5px;
}

.font-size-icon:hover {
  background-color: lighten(var(--color-text), 20%);
}

@media (min-width: 490px) {
  .icon-item .user-account,
  .icon-item .canary-flag-icon {
    display: block;
  }
}

/* --- Pantallas de ancho mínimo 576px --- */
@media (min-width: 620px) {
  .header-section {
    padding: 1em;
    gap: 1.1em;
  }

  .font-size-icon {
    margin: 5px;
    padding: 10px 20px;
  }

  /* Zonas de buscador, geo, cuenta y cesta */
  .icon-item {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    justify-content: center;
  }



  .search {
    width: auto;
    flex-grow: 1;
    color: unset;
  }

  .search input {
    width: 200px;
    max-width: 700px;
    padding: 0.5em;
    padding-left: 1em;
    opacity: 1;
    border-radius: 10px;
    width: 93%;
    height: 3em;
    background-color: var(--color-bg-element);
    border: 3px solid;
  }

  .search::after {
    display: none;
    padding: 0.5em;
    padding-left: 2em;
  }
}