@import url('./palette.css');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna&family=Sora&display=swap');

@font-face {
  font-family: "Playwrite GB S";
  src: url("../../fonts/Playwrite.woff2") format("woff2"),
         url("https://fonts.gstatic.com/s/playwriteitmoderna/v5/xyz-font-url.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--color-bg);
}

/*  ----- Cabecera  ----- */
header {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  overflow-x: auto;
  padding: 1em;
  margin: 2em;
  align-items: center;
  border-radius: 8px;
  scrollbar-width: thin;
  background-color: var(--color-bg-element);
}

header div a img {
  height: 30px;
  filter: var(--icon-color-light);
}

/* Cambiar a iconos blancos en tema oscuro */
body.palette-dark .icon {
  filter: invert(1) brightness(2);
}

/* Ocultar nombres */
header div p {
  display: none;
}

.logo img {
  height: 40px;
}

.search {
  flex-grow: 1;
  margin: 0;
  /* visibility: hidden; */
}

.search input {
  border: 3px solid;
  border-radius: 10px;
  width: 11em;
  height: 3em;
  padding: 0.5em 1em;
  background-color: var(--color-bg-element);
}

.logo a,
.zona-geo a,
.user-account a,
.shopping-cart a {
  text-decoration: none;
  color: inherit;
}

.search,
.zona-geo,
.user-account {
  display: none;
}

.shopping-cart {
  margin-left: auto;
}

/* --- Selección de tema con paleta de colores --- */
.theme-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.theme-icon,
.contrast-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-icon:hover,
.contrast-icon:hover {
  transform: scale(1.2);
}


/* Botones */
.font-size-icon {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

.font-size-icon:hover {
  background-color: #0056b3;
}

/*  ----- Barra de navegación  ----- */
.navegation {
  font-family: "Playwrite GB S", sans-serif;
  background-color: var(--color-nav-element);
  margin-bottom: 1em;
}

.navegation ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 2em;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  margin: 0;
}

.navegation ul li {
  font-size: 1.2em;
}

.navegation ul li a {
  text-decoration: none;
  color: var(--color-nav-text);
  transition: color 0.3s ease;
}

/* ---- Barrara de localización de producto ---- */
.nav-bar {
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
}

.nav-bar a {
  color: var(--color-text);
  text-decoration: none;
}

.nav-bar a:not(:last-child)::after {
  content: "›";
  color: var(--color-text);
  margin-left: 0.5em;
}

/* --- Pantallas de ancho mínimo 576px --- */
@media (min-width: 576px) {

  /* Zonas de buscador, geo, cuenta y cesta */
  .search,
  .zona-geo,
  .user-account,
  .shopping-cart {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
  }

  .search {
    flex-grow: 1;
    color: unset;
  }

  .search input {
    color: var(--color-text);
    border: 3px solid;
    border-radius: 10px;
    height: 3em;
    padding: 0.5em 1em;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
  }

  .product img {
    width: 100%;
  }
}

/* @media (min-width: 912px), (min-width: 576px) and (orientation: landscape) { } */

/* @media (min-width: 1024px) { } */