/* Estilos básicos de variables de color para los temas */

.section-title {
  margin: 2em;
}

.section-title span {
  font-size: 1.8rem;
  color: var(--color-text);
}

.catalog-list {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: flex-start;
}

.product {
  width: 10rem;
  box-sizing: border-box;
  background-color: var(--color-bg-element);
  border-radius: 8px;
  padding: 1em;
}

.product img {
  width: 100%;
}

.product {
  a {
    text-decoration: none;
    color: var(--color-text);
  }
}