.navegation {
  font-family: "Playwrite GB S", sans-serif;
  background-color: var(--color-nav-element);
  margin-bottom: 1em;
}

.navegation ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 2em;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  margin: 0;
}

.navegation ul li {
  font-size: 1.2em;
}

.navegation a {
  text-decoration: none;
  color: var(--color-nav-text);
  transition: color 0.3s ease;
}

.nav-bar {
  margin-left: 20px;
}

.nav-bar a {
  color: var(--color-text);
}

.section-title {
  margin: 2em;
}

.section-title span {
  font-size: 1.8rem;
  color: var(--color-text);
}

.catalog-list {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: flex-start;
}

.product {
  width: 10rem;
  box-sizing: border-box;
  background-color: var(--color-bg-element);
  border-radius: 8px;
  padding: 1em;
}

.product img {
  width: 100%;
}

.product {
  a {
    text-decoration: none;
    color: var(--color-text);
  }
}